[toolchain]
anchor_version = "0.31.1"

[features]
resolution = true
skip-lint = false

[programs.localnet]
shielded_pool = "GHaaCGvizKd7QVCw93vHHc3bDQ1JNdufT4ZX9RbeR6Pj"
zk_verifier = "E2iDwQ5pjSk4qxmXj7U1NUsqPyFGyfeVYj1CBXqL6fBw"
vault_registry = "FXVuM3iLQgejHHoTw6Gqh77MEGcniR6VK8sHTwPSRSvG"

[programs.devnet]
shielded_pool = "GHaaCGvizKd7QVCw93vHHc3bDQ1JNdufT4ZX9RbeR6Pj"
zk_verifier = "E2iDwQ5pjSk4qxmXj7U1NUsqPyFGyfeVYj1CBXqL6fBw"
vault_registry = "FXVuM3iLQgejHHoTw6Gqh77MEGcniR6VK8sHTwPSRSvG"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"

[workspace]
members = [
    "programs/shielded-pool",
    "programs/zk-verifier",
    "programs/vault-registry",
]
